body {
  background: #ff4020;
  font-family: 'Germania One', cursive;
}

#logo {
  width: 150px;
  height: 100px;
  margin-top: 15px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #000000;
  color: #ff4020;
  text-align: center;
  height: 50px;
  padding-top: 25px;
}
